{% extends 'base.html.twig' %}

{% block title %}Container Loader{% endblock %}

{% block body %}

   <div class="container">
      <h2>Container Loader</h2>

      <div class="row">
         <form method="post">
            <div class="row">
               <div class="col-md-2 col-sm-12">
                  <div class="form-group">
                     <label for="exampleSelect2">Select Container Size</label>
                     <select class="form-control" id="exampleSelect2">
                        <option value="20">20 ft</option>
                        <option value="40">40 ft</option>

                     </select>
                  </div>
               </div>
            </div>

            <label style="text-align: left" for="order">Add the order</label>
            <div class="row">

               <div class="col-md-6" id="item">

                  <select  class="form-control tyreItem " name="items[]">
                     {% for item in items %}
                     <option value="{{ item.name }}">{{ item.name }}</option>
                     {% endfor %}
                  </select>

               </div>

               <div class="col-md-6" id="quantity">
                  <input class="form-control" type="number" name="quantity[]">
               </div>

            </div>
            <div class="row" style="margin-top: 15px">
               <a class="btn btn-info" id="button">Add Item</a>
            </div>



         </form>


      </div>

   </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
   <script>
       $('#button').click(function () {
           $('#item').append("<input>")
       })
   </script>

    <script type="text/javascript">
        $(".tyreItem").select2();
    </script>



{% endblock %}
